<h3 class="title is-4">All Clans in Clash Royale</h3>
<% @clans.each do |clan| %>
  <h2><%= clan.name %></h2>
  <p>
    There are <%= clan.players.count %>
    players in this clan.
  </p>
  <p>
    Learn more about <%= link_to "clan #{clan.name}", clan %>.
  </p>
<% end %>

