<h2><%= @clan.name %></h2>
<p>
  There are <%= @clan.players.count %>
  players in this house.
</p>

<h3>Teachers in house <%= @clan.name %></h3>
<% if @clan.players.empty? %>
  <p>There are no player in this clan.</p>
<% else %>
  <ul>
    <% @clan.players.each do |player| %>
      <li><%= link_to player.name, player %></li>
    <% end %>
  </ul>
<% end %>

