<h3 class="title is-4"><%= @clan.name %></h3>
<div class="column is-multiline">
  There are <%= @clan.players.count %>
  players in this clan.
</div>
<br>
<div class="column is-multiline">Players in clan <%= @clan.name %></div>
<%= render @clan.players %>


