<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <%= link_to battle.id, battle %>
      </p>
      <p>Game Mode: <%= battle.game_mode %></p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        Battle Time: <%= battle.created_at %>
      </p>
      <p class="card-footer-item">
        Opponent: <%= battle.opponent %>
      </p>
    </footer>
  </div>
</div>