<p>
Found <%= pluralize(@players.size, 'result')%>
results for the search "<%= params[:search_term]%>"
</p>

<div class="columns is-multiline">
  <%= render partial: 'players/player', collection: @players %>
</div>